body { font-family: Arial; margin: 0; background: #f4f4f4; }
header { background: #111; color: white; padding: 20px; text-align: center; }
.cars { display: flex; gap: 15px; justify-content: center; padding: 20px; }
.card { background: white; padding: 20px; border-radius: 10px; width: 200px; box-shadow: 0 2px 6px #aaa; }
footer { text-align: center; padding: 10px; background: #222; color: white; }
